@custom-variant minified (&:where([data-state="minified"], [data-state="minified"] *));
@custom-variant expanded (&:where([data-state="expanded"], [data-state="expanded"] *));
@custom-variant collapsed (&:where([data-state="collapsed"], [data-state="collapsed"] *));

@custom-variant sidebar-minified (:where(:has(#sidebar-menu[data-state="minified"])) &);
@custom-variant sidebar-collapsed (:where(:has(#sidebar-menu[data-state="collapsed"])) &);
@custom-variant sidebar-expanded (:where(:has(#sidebar-menu[data-state="expanded"])) &);

@custom-variant select (&:where(:hover, :focus, :focus-visible));

@custom-variant dark (&:where(.dark, .dark *));

[data-nav-pin-btn][data-pinned="true"] {
    opacity: 1 !important;
}

[data-nav-pin-btn][data-pinned="true"] .pin-icon-pinned {
    display: block !important;
}

[data-nav-pin-btn][data-pinned="true"] .pin-icon-unpinned {
    display: none !important;
}

[data-nav-pin-btn]:not([data-pinned="true"]) .pin-icon-pinned {
    display: none !important;
}

[data-nav-pin-btn]:not([data-pinned="true"]) .pin-icon-unpinned {
    display: block !important;
}